@import url("@ama-pt/agora-design-system/artifacts/dist/tailwind.css");
@import url("@ama-pt/agora-design-system/artifacts/dist/style.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

.accordion-headless .agora-accordion .accordion-header {
  display: none !important;
}

button.operator-drawer-trigger {
  min-width: 36px !important;
  min-height: 36px !important;
  padding: 4px !important;
}

.agora-accordion:not(.mobile) .accordion-body .children-wrapper > div {
  border: none !important;
  padding: 0 !important;
}

.tri-state-switch .agora-btn-link-primary svg,
.tri-state-switch .agora-btn-outline-primary svg,
.tri-state-switch .agora-btn-solid-primary svg {
  fill: none !important;
}

.agora-button-group {
  width: 100% !important;
}
